include COPYING
include README

recursive-include lofreq_ext *.h *.c *README *readme *AUTHORS *COPYING

recursive-include lofreq_samtools *.c *.h * [A-Z]*
exclude lofreq_samtools/lofreq_samtools
exclude lofreq_samtools/bcftools/bcftools

global-exclude *.o *.a lib* \#* *\~ *.gitignore



#prune build
#prune example-data
#prune tests
#prune tmp
