# http://docs.python.org/2/distutils/sourcedist.html :
#
# include pat1 pat2 ...	include all files matching any of the listed patterns
# exclude pat1 pat2 ...	exclude all files matching any of the listed patterns
# recursive-include dir pat1 pat2 ...	include all files under dir matching any of the listed patterns
# recursive-exclude dir pat1 pat2 ...	exclude all files under dir matching any of the listed patterns
# global-include pat1 pat2 ...	include all files anywhere in the source tree matching — & any of the listed patterns
# global-exclude pat1 pat2 ...	exclude all files anywhere in the source tree matching — & any of the listed patterns
# prune dir	exclude all files under dir
# graft dir	include all files under dir
#
# The patterns here are Unix-style “glob” patterns: * matches any
# sequence of regular filename characters, ? matches any single regular
# filename character, and [range] matches any of the characters in range
# (e.g., a-z, a-zA-Z, a-f0-9_.). The definition of “regular filename
# character” is platform-specific: on Unix it is anything except slash;
# on Windows anything except backslash or colon.

# top dir
#

# lofreq_ext
recursive-include lofreq_ext *.c *.h [A-Z]* *[A-Z] readme
# recursive inclusion of files in cdflib subdir fails
#recursive-include lofreq_ext/cdflib90 *.c *.h [A-Z]* *[A-Z] readme
#include lofreq_ext/cdflib90/*.h
#include lofreq_ext/cdflib90/*.c
#include lofreq_ext/cdflib90.README
#include lofreq_ext/cdflib90/readme
#graft lofreq_ext/cdflib90/

# excludes come last
# note: lib* matches cdflib for some reason so don't include
global-exclude *.o *.a \#* *~ .gitignore
